body {
    background: linear-gradient(to right,#ffd490,#f7b778);
  }
  .warp{
    width: 75%;
    font-family: calibri;
    background-color: #fff4ec;
    border-radius: 2px;

  }
  .contaniner{
    background-color: #f7b778;
    padding: 5px;
    margin: 10%;
  }